@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

input:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-blue-100 {
  --tw-gradient-from: #dbeafe;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(219 234 254 / 0));
}

.to-blue-200 {
  --tw-gradient-to: #bfdbfe;
}